# ── MySQL
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_USER=hc_user
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=hc_bronze

# ── Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=mysql+mysqldb://hc_user:your_password_here@mysql:3306/airflow_meta

# ── MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=mysql+pymysql://hc_user:your_password_here@mysql:3306/mlflow

# ── Paths
DATA_RAW_PATH=/opt/airflow/data/raw